doctype html
html
  include header.jade
  body
    div(data-role="page")
      div(data-role="header")
        h1 GCT2014
      div.ui-content(data-role="main")
        ul.ui-listview-outer(data-role="listview")
          -for(var i in menu)
              li(data-role="collapsible",data-iconpos="right",data-shadow="false",data-corners="false")
                h2= menu[i].name
                -for(var j in menu[i].children)
                  ul(data-role="listview",data-shadow="false",data-inset="true",data-corners="false")
                    li(id="zsd_"+menu[i].children[j].tid)
                      a(tid=menu[i].children[j].tid,href="javascript:gotoZSD(" +menu[i].tid + "," + menu[i].children[j].tid + ")",class="zhishidian",zhishidian=menu[i].children[j].tid)= menu[i].children[j].name
                        |<span class="ui-li-count">0</span>
        script(src="main.js")
